@import './../../../scss/styles.scss';

:host {
    .bg-c-primary {
        background-color: $bg-primary;
    }
    
    .bg-c-secondary {
        background-color: $bg-secondary;
    }
    
    .bg-c-tertirary {
        background-color: $bg-primary;
    }
}