@import './../../../scss/styles.scss';

:host {
    header {
        background-color: $bg-primary;

        a {
            border-radius: 8px;
            color: $text-color;
            font-size: 14px;
            margin: 5px 10px;
            padding: 5px 10px;
            font-weight: 500;

            &:hover {
                background-color: $bg-tertiary;
                color: $primary
            }
        }

        .navbar-collapse,
        .container-fluid {
            justify-content: end;
        }

        
        .container-fluid {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        button {
            border: none;
            box-shadow: none;
            outline: 0;

            .navbar-toggler-icon {
                background-image: url('./../../../../public/icons/hamburger.svg');
                font-size: 15px;
            }
        }
    }
}