<app-header></app-header>

<app-section-container bgColorClass="bg-c-primary">
    <div class="who-am-i row py-5">
        <div class="col-sm-6">
            <h1>Hi, I am <b class="text-c-primary">STULK</b>,</h1>
            <h1>Web Developer</h1>

            <p>Passionate about creating digital experiences. I build responsive websites and always look for new trends. Let's build something amazing together!</p>
            <app-link-cta>Contact me</app-link-cta>
        </div>

        @if (showThumbnail) {
            <div class="col-sm-6 text-center py-3">
                <app-thumbnail thumbnail="img/thumbnail.jpg" [width]="180" [height]="180" [hasShadow]="true" />
            </div>
        }
    </div>
</app-section-container>

<app-section-container bgColorClass="bg-c-secondary py-5">
    <div class="brands d-flex justify-content-around align-items-center flex-wrap py-2">
        <app-brands icon="fa-brands fa-html5" tooltipText="HTML5"/>
        <app-brands icon="fa-brands fa-css3-alt" tooltipText="CSS3"/>
        <app-brands icon="fa-brands fa-js" tooltipText="JavaScript"/>
        <app-brands icon="fa-brands fa-php" tooltipText="PHP"/>
        <app-brands icon="fa-brands fa-laravel" tooltipText="Laravel"/>
        <app-brands icon="fa-brands fa-angular" tooltipText="Angular"/>
        <app-brands icon="fa-brands fa-drupal" tooltipText="Drupal"/>
    </div>
</app-section-container>

<app-section-container bgColorClass="bg-c-primary py-5">
    Projetos
</app-section-container>

<app-section-container bgColorClass="bg-c-primary py-5">
    Footer
</app-section-container>

<router-outlet/>