/* You can add global styles to this file, and also import other style files */
@import 'scss/styles.scss';

* {
    font-family: "Roboto", sans-serif;
    color: $text-color;
}

body {
    background-color: $bg-secondary !important;
}

.text-c-primary {
    color: $primary;
}

a.btn-c-primary,
button.btn-c-primary {
    background-color: $primary;
    color: $white;

    &:hover {
        background-color: $primary;
        filter: brightness(0.9);
        color: $white;
    }
}